.Cadastro{
    margin: 0;
    background-image: url(../../imagens/Fundo.jpg);
    background-size: cover;
    height: 80vh;
    h1{
        font-size: 30pt;
        margin: 0;
        padding: 30px 150px;
    }
    button{
        font-size: 30pt;
        width: 250px;
        height: 250px;
        background-color: #f34331;
        padding: 50px;
        margin: 70px 80px 70px 200px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        font-weight: 900;
    }
}