header{
    h1{
        font-size: 30pt;
        margin: 0;
        padding: 30px 0 0 150px;
    }
}
.DoadorCadastro{
    margin: 0;
    background-image: url(../../imagens/fundo1.jpg);
    width: 100%;
    height: 79.99vh;
    background-size: cover;
    display: flex;
}
aside{
    padding: 50px 30px 0 0px;
}
section{
    padding: 50px 30px 0 0px;

}