h1{
    font-size: 30pt;
    margin: 0 0 50px 0;
}
.DoadorCadastro{
    margin: 0;
    background-image: url(../../imagens/fundo1.jpg);
    height: 155vh;
    background-size: cover;
    padding: 30px 0 0 150px;
}
button{
    outline: none;
    color: #ffffffb4;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}