.Casa{
    background-image: url(../imagens/fundo1.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    .titulo{
        width: 100%;
        height: 80px;
        background-color: #f34331;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
        h1{
            color: #ffffff;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
        }
        button{

            font-size: 30pt;
            width: 210px;
            height: 210px;
            background-color: #f34331;
            padding: 50px;
            margin: 70px 80px 70px 200px;

            width: 70px;
            height: 70px;
            border-radius: 100%;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
            font-weight: 900;
            font-family: 'Oswald', sans-serif;
        }
}

            &:hover{
                background-color: rgba(0, 0, 0, 0.233);
            }
        ;
        }
    }


