.ListaProdutos  {
    display: flex;
    justify-content: flex-end;
}
.Perfil{
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: none;
    border: 5px solid red;
    border-radius: 30px;
    a{
        text-decoration: underline;
        cursor: pointer;
        color: red;
    }
    button{
        color: red;
        text-decoration: underline;
        font-size: 12pt;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        margin: 1px;
    }
}